
@font-face {
    font-family: pretendard;
    src: url(/public/fonts/PretendardVariable.ttf);
}

textarea{
    resize: none;
    padding: 8px;
}

.sideDiv{
    display: flex;
}
.sideBarDiv{
    width: 384px;
    /* display: flex; */
    height: 955px;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* flex-shrink: 0; */
    z-index: 2;
    background: var(--cool-gray-10, #F2F4F8);

    box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.20);
}
.userImg{
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 39px;
    position: relative;
    top: 40px;
    left: 40px;
}
.userName{
    color: #000;
    font-family: pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 200% */
    position: relative;
    
    left: 130px;
    bottom: 15px;
}


.noticeBoardBtnDiv{
    margin-top: 70px;
    margin-left: 60px;
}
.noticeBoardBtn{
    border: none;
    background-color: transparent;
    color: var(--cool-gray-70, #4D5358);
    font-family: pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.noticeBoardImg{
    margin-right: 13px;
    position: relative;
    top: 3px
}

.chartBtnDiv{
    margin-top: 20px;
    margin-left: 60px;
}   
.chartBtn{
    border: none;
    background-color: transparent;
    color: var(--cool-gray-70, #4D5358);
    font-family: pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.chartImg{
    margin-right: 13px;
    position: relative;
    top: 3px
}

.userInfoBtnDiv{
    margin-top: 20px;
    margin-left: 60px;
}
.userInfoBtn{
    border: none;
    background-color: transparent;
    color: var(--cool-gray-70, #4D5358);
    font-family: pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.userInfoImg{
    margin-right: 13px;
    position: relative;
    top: 3px
}

.logoutBtnDiv{
    margin-top: 590px;
    margin-left: 60px;
    
}
.logoutBtn{
    border: none;
    background-color: transparent;
    color: var(--cool-gray-60, #697077);
    font-family: pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    
}
.logoutImg{
    margin-right: 11px;
    position: relative;
    top: 4px
}


/* 모달 */

.none{
    display: none;
}
.noticeBoardModal{
    position: relative;
    z-index: 1;
    background-color: white;
}
.chartModal{
    position: relative;
    z-index: 1;
    background-color: white;
}
.userInfoModal{
    position: relative;
    z-index: 1;
    background-color: white;
}



.writingModalWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; 
}
.writingModal{
    position: absolute;
    z-index: 10;

    border-radius: 20px;
    background: var(--cool-gray-10, #F2F4F8);
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    

    width: 342px;
    height: 548px;
}
.updateModal{
    position: absolute;
    z-index: 10;

    border-radius: 20px;
    background: var(--cool-gray-10, #F2F4F8);
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    

    width: 342px;
    height: 395px;
}
.modalUserInfoDiv{
    display: flex;
}
.modalUserImg{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.modalUserName{
    margin-top: 35px;

    color: var(--cool-gray-70, #4D5358);
    font-family: pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.modalXBtn{
    border: none;
    background-color: transparent;
    margin-left: 110px;
    margin-bottom: 25px;
}
.coupangLink{
    display: flex;
    width: 250px;
    height: 42px;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    gap: 4px;
    border-radius: 20px;
    background: var(--default-white, #FFF);
    border: none;
    color: var(--cool-gray-100, #121619);
    font-family: pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    margin-left: 30px;
}
.searchBtn{
    border: none;
    background-color: transparent;
    margin-left: 10px;
}
.searchDiv{
    display: flex;
}
.writePost{
    color: var(--cool-gray-100, #121619);

    font-family: pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    width: 280px;
    height: 198px;
    margin-left: 33px;
    margin-top: 16px;
    border: none;

}
.updateWritePost{
    color: var(--cool-gray-100, #121619);

    font-family: pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    width: 280px;
    height: 198px;
    margin-left: 33px;
    margin-top: 16px;
    border: none;
}
.linkArea{
    width: 280px;
    height: 110px;
    margin-left: 33px;
    margin-top: 10px;
    border-radius: 4px;
    background: var(--default-white, #FFF);
}
.idkArea{
    display: flex;
}
.parsedProductName{
    color: var(--cool-gray-90, #21272A);
    font-family: pretendard;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.133px;
    margin-left: 20px;
    margin-top: 20px;
}
.parsedProductUrl{
    color: var(--cool-gray-40, #A2A9B0);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: pretendard;
    font-size: 5px;
    font-weight: 400;
    line-height: 5px;
    position: absolute;
    bottom: 100px;
    left: 53px;
}
.parsedImageUrl{ 
    margin-left: 13px;
    height: 110px;
    width: 110px;
}
.submitBtn{
    display: flex;
    width: 190px;
    height: 45px;
    padding: 3.644px 9.718px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.859px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--primary-30, #A6C8FF);
    background: var(--default-white, #FFF);
    
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.10);

    margin-left: 80px;
    margin-top: 15px;
}



/* 챗 봇 */
.chatBotBtn{
    position: absolute;
    margin: 0 auto; 
    
    top:  85%;
    left: 92%; 
    transform: translate(-50%, -50%);

    border: none;
    background-color: transparent;
}
.chatBotModal{
    position: absolute;
    margin: 0 auto; 
    
    top:  17%;
    left: 77%; 
    transform: translate(-50%, -50%);
}





.startModal{
    position: absolute;
    margin: 0 auto;  
    top:  50%;
    left: 60%; 
    transform: translate(-50%, -50%);
    width: 607px;
    height: 826px;
    border-radius: 20px;
    border: 1px solid var(--primary-30, #A6C8FF);
    background: #FFF;
    box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.20);
    z-index: 9999;

}
.startModalBtn{
    color: var(--primary-90, #001D6C);
    text-align: center;
    font-family: pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.24px;
    display: flex;
    width: 312px;
    height: 74px;
    padding: 6px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--primary-30, #A6C8FF);
    background: var(--default-white, #FFF);
    margin-left: 148px;
    margin-top: 33px;
}
.startModalImg{
    width: 549px;
    height: 337px;
    margin-left: 29px;
}

.style1{
    color: #000;
    text-align: center;
    font-family: pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.24px;
    text-align: center;
    margin-top: 72px;
}

.style2{
    color: var(--cool-gray-70, #4D5358);
    text-align: center;
    
    font-family: pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    margin-top: 14px;
}

.style3{
    color: #000;
    
    font-family: pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-top: 34px;
    margin-left: 178px;
}
.logofit{
    position: absolute;
    bottom: 80px;
}